* {box-sizing: border-box; font-family: 'Inter', sans-serif; border: none;}

:root {
    --primary-color: hsl(213, 84%, 24%);

    --bg-light: hsl(227, 60%, 97%);

    font-size: 62.5%;
}

/* === GLOBAL ===================== */

body,
main {
    height: 100%;
}

body {
    background-color: var(--bg-light);

    font-size: 1.6rem;
}

button {
    height: 6.7rem;

    border-radius: 2.4rem;

    cursor: pointer;
}

.container {
    width: min(50rem, 100%);
    
    padding: 4rem;
    margin-inline: auto;
}

.header-content {
    padding-bottom: 4rem;
    margin-inline: auto;
}

.main-content {

    margin-inline: auto;
}

.main-content textarea {
    width: 100%;
    height: 35rem;

    resize: none;

    font-size: 3.2rem;
    line-height: 150%;

    color: var(--primary-color);

    background-color: transparent;
}

.main-content textarea::placeholder {
    color: var(--primary-color);
}

.main-content textarea:focus {
    outline: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.result .text-result::-webkit-scrollbar,
.main-content textarea::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge and Firefox */
.result .text-result,
.main-content textarea {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.main-content span {
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.main-content span p {
    font-size: 1.2rem;
    line-height: 150%;
    color: hsl(210, 10%, 23%);
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;

    font-size: 1.6rem;
    line-height: 1.9rem;

    margin-block: 4rem;
}

.buttons button {
    width: min(34.3rem, 100%);
}

.buttons #encrypt {
    background-color: var(--primary-color);

    color: white;

    transition: 0.2s;
}

.buttons #encrypt:hover {
    background-color: hsl(213, 84%, 15%);
}

.result button,
.buttons #decrypt {
    background-color: transparent;

    color: var(--primary-color);

    border: 1px solid var(--primary-color);

    transition: 0.2s;
}

.result button:hover,
.buttons #decrypt:hover {
    background-color: hsl(213, 84%, 15%);

    color: white;
}

.result-content {
    text-align: center;

    padding: 3.2rem;

    background-color: white;

    border-radius: 3.2rem;

    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.missing-message #missing-message-image {
    display: none;
}

.missing-message h2 {
    margin-inline: auto;
    margin-bottom: 1.4rem;

    color: hsl(210, 10%, 23%);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 120%;
}

.missing-message p {
    line-height: 150%;
    color: hsl(210, 9%, 31%);
}

.result {
    position: relative;

    display: none;
    flex-direction: column;
    justify-content: center;

    word-wrap: break-word;
}

.result .text-result {
    text-align: left;
    font-size: 2.4rem;
    line-height: 150%;

    color: hsl(210, 9%, 31%);

    width: 100%;
    max-height: 43.2rem;

    overflow: scroll;
}

.result .sucess-copied {
    height: 3rem;
    width: 100%;

    padding-block: 2rem;

    color: white;
    font-weight: 700;

    user-select: none;

    position: absolute;
    bottom: 7.5rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;

    background-color: #24ac7a;

    opacity: 0;
    visibility: hidden;

    transition: 0.6s;
}

.result button {
    margin-top: 5rem;

    width: 100%;
}



@media (min-width: 768px) {

    main .buttons {
        width: 100%;
        flex-direction: row;          
    }

    main .buttons button {
        width: 33.2rem;
    }

    .container {
        padding-inline: 4rem;

        width: 76.8rem;
    }
    
    .main-content textarea {
        height: 58rem;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 144rem;

        padding: 0;

        display: grid;
        grid-template-columns: 1fr 48rem;
        grid-template-areas: 
        'A C'
        'B C';
    }

    .header-content {
        padding-top: 4rem;
        padding-left: 4.4rem;
    }

    .main-content textarea {
        width: 70rem;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        padding-left: 15rem;

        grid-area: B;
    }

    .col-c {
        padding: 4rem 4rem 0;

        grid-area: C;
    }

    .result-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        height: 95%;
    }

    .result {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;    
    }

    .missing-message #missing-message-image {
        display: block;

        margin-bottom: 3.2rem;
    }

    .result .text-result {
        max-height: 55rem;
    }
}